/* #region utility */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.col_2 {
    width: calc( (100% / 14) * 2);
}


.bg {
    background-color: black;
    width: 100vw;
    height: 105vh;
    position: relative;
}

.container {
    width: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

img {
    height: 97%;
    max-width: 97%;
}

/* #endregion utility */

/* #region header */

header {

}


/* #endregion header */

/* #region main */

.badge {
    width: 100px;
    background-color: rgba(128, 128, 128, 0.7);
    height: 20px;
    position: relative;
    bottom: 1.5rem;
    display: flex;
}

.micro {
    color: white;
}

.text {
    font-size: small;
    display: flex;
    align-items: center;
    color: white;
}

/* #endregion main */

/* #region footer */

footer {
    background-color: #1a1a1a;
    padding: 0.5rem 0;
}

.menu {
    color: white;
}

.grid {
    display: grid;
}

.video_audio {
    display: flex;
    padding-left: 2rem;
    padding-bottom: 0.2rem;
}

.and {
    padding: 0.7rem 0.5rem;
    font-size: x-small;
    font-weight: 900;
}

/* #region icons */

.fa-microphone, 
.fa-user, 
.fa-chart-column, 
.fa-comment, 
.fa-ellipsis {
    padding: 0.3rem 0 0.3rem 0.3rem ;
}

.fa-video {
    padding: 0.3rem 0 0.3rem 1rem ;
}

.fa-user-group {
    padding: 0.3rem 0 0.3rem 1rem;
}
.fa-share-from-square {
    color: rgb(54, 255, 54);
    padding: 0.3rem 0 0.3rem 0.3rem ;
}

.fa-table-cells,
.fa-record-vinyl {
    padding: 0.3rem 0 0.3rem 0.5rem ;
}


/* #endregion icons */

.text_footer {
    font-size: x-small;
    padding-right: 0.3rem;
}

.center {
    display: flex;
    justify-content: center;
}


.actions {
    margin-left: 25rem;
}

.quit {
    width: 40%;
    display: flex;
    justify-content: right;
    align-items: center;
    color: red;
}

.end {
    padding: 0rem 1rem;
}

.end:hover {
    opacity: 0.5;
    cursor: pointer;
}

i:hover {
    cursor: pointer;
    scale: 1.2;
    opacity: 0.7;
}
/* #endregion footer */