/* #region utility */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.col_2 {
    width: calc( (100% / 14) * 2);
}


.bg {
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.container {
    width: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

img {
    height: 97%;
    max-width: 97%;
}

/* #endregion utility */

/* #region main */

.badge {
    width: 100px;
    background-color: rgba(128, 128, 128, 0.7);
    height: 20px;
    position: relative;
    bottom: 1.5rem;
    display: flex;
}

.micro {
    color: white;
}

.text {
    font-size: small;
    display: flex;
    align-items: center;
    color: white;
}

/* #endregion main */

/* #region footer */

.grid {
    display: grid;
}

.video_audio {
    display: flex;
}

.and {
    padding: 0.5rem 0.5rem;
}

.fa-microphone {
    padding: 0.3rem 0 0.3rem 0.2rem ;
}

.fa-video {
    padding: 0.3rem 0 0.3rem 1rem ;
}

.text_footer {
    font-size: x-small;
}


/* #endregion footer */